<body <%= (params[:controller] == 'users' && params[:action] == 'new') ? 'id=background' : '' %>>
	<div class = "row-fluid">
		<div class = "span8">
			<div class = "well sign_up_box" style ="background-color: transparent; 	border-width:0px;">
				<div class='clearfix login_text'>

					<%= form_for @user do |f| %>
						<% if @user.errors.any? %>
							<div class = "error_messages">
								<h2>Form is invalid</h2>
									<ul>
										<% for message in @user.errors.full_messages %>
											<li><%= message %></li>
										<% end %>
									</ul>
							</div>
						<% end %>
						
						<h3>Hi There!</h3>
						
						<div class="field">
							<%= f.label :name %>
							<%= f.text_field :name %>
						</div>

						<div class="field">
							<%= f.label :email %>
							<%= f.text_field :email %>
						</div>
						
						<%= f.submit "Sign Up", class: 'btn btn-inverse' %>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</body>
