<h1>Order Sheets for <%= @restaurant.name %></h1>

<table>
  <tr>
    <th>Order Id</th>
    <th>Restaurant</th>
    <th>Order Date</th>
    <th></th>
  </tr>

<% @restaurant.orders.each do |order| %>
  <tr>
    <td><%= order.id %></td>
    <td><%= order.restaurant.name %></td>
    <td><%= order.created_at.strftime('%A, %e %B %Y') %></td>
    <td><%= link_to 'Show', restaurant_order_path(@restaurant, order) %></td>
    <td><%= link_to 'Delete', @restaurant_order, method: :delete, data: {confirm: 'Are you sure?' } %></td>
    
  </tr>
<% end %>
</table>

<%= link_to "New Order Form", @restaurant_order_new_path %>
<br />
