<p id="notice"><%= notice %></p>

<h2 class="pull-left"><%= @restaurant.name %></h2>

<table class = "table table-hover">
  <tr>
    <th>Food</th>
    <th>Description</th>
    <th></th>
  </tr>

<% @restaurant.items.each do |item| %>
<tr>
    <td><%= item.name %></td>
    <td><%= item.description %></td>
    <td><%= link_to 'Edit', edit_restaurant_item_path(item.restaurant, item), :class => "btn btn-warning" %></td>
    <td><%= link_to 'Delete', [item.restaurant, item],
				:confirm => "Are you sure?",
				:method => :delete, :class => "btn btn-danger" %></td>
  </tr>
<% end %>
</table>
<%= link_to 'Back', restaurants_path, :class => "btn btn-inverse" %>
<%= link_to 'New Order Form', restaurant_orders_path(@restaurant), :method => :post, :class => "btn btn-success" %>

<h3> Add a new item </h3>
<%= render 'items/form' %>


