<%= form_for([@restaurant, @restaurant.items.build]) do |f| %>
	<div class="field">
		<%= f.label :name %>
		<%= f.text_field :name, :size => "70" %>
	</div>
	<div class="field">
		<%= f.label :description %>
		<%= f.text_area :description, :size => "50x8" %>
	</div>
	<div class="actions">
		<%= f.submit %>
	<div>
<% end %>