<%= form_for [@restaurant, @order, @order_item] do |i| %>
	<% @restaurant.items.each do |item| %>
		<div class = "field">
			<%= i.radio_button :item_id, item.id %>
			<%= label_tag(:order_item, item.name) %>
			
			<div class = "field">
				<%= item.description %>
			</div>
		</div>
	<% end %>

	<div class = "field">
		<%= i.label :notes, "Before I Forget.." %>
	</div>

	<div class = "field">
		<%= i.text_area :notes, :size => "50x8" %>
	</div>
	
	<div class="actions">
  	<%= i.submit %>
	</div>
<% end %>