<!DOCTYPE html>
<html>
<head>
  <title>FoodApp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">
  
  <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script> 
</head>
<body >

<div class="navbar">
	<div class="navbar-inner">
		<a class="brand" href="">Lunches</a>
			<div id="user_nav" class="nav pull-right" style="margin-top:8px">
							<% if current_user %>
							Hello, <%= current_user.name %>.
							<%= link_to "Log out", log_out_path %>
				<% else %>
				<% end %>
			</div>
	</div>
</div>

<div class="container" >
	<% flash.each do |name, msg| %>
		<%= content_tag :div, msg, :id => "flash_#{name}" %>
	<% end %>
	<%= yield %>
</div>
</body>
</html>
